.color1 {
  color: #db1621;
}
.color2 {
  color: #e14a13;
}
.color3 {
  color: #e59519;
}
.color4 {
  color: #f1db71;
}
.color5 {
  color: #f6eda6;
}

body {
  background: linear-gradient(90deg, #e14a13 10%, #f6eda6 90%);
}

.header-container {
  height: 15%;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 5px solid #e14a13;
  box-shadow: 3px 3px 8px #000000;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 80px;
  font-family: Tahoma, sans-serif;
  color: #f1db71;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 50px auto;
}

/*Main news styles*/
.main-news-content {
  background: chocolate;
  width: 100%;
  height: 60%;
}

.news-card {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 33%;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

/*First aside styles*/
.first-aside {
  background: cornsilk;
  width: 100%;
  height: 10%;
}

/*Second aside styles*/
.second-aside {
  background: cornsilk;
  width: 100%;
  height: 25%;
}

/*Categories styles*/
.categories {
  width: 100%;
  height: 50%;
  background-color: darkgoldenrod;
}

/*Footer aside styles*/
footer {
  background: #f6eda6;
  width: 100%;
  height: 20%;
}
